In [1]:
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt
import numpy as np

#データ読み込み
data = pd.read_csv("Kito2.csv")
data

          Time        PPG      Acc
0         0.00  409.93594  0.99346
1         0.02  403.55255  0.99442
2         0.04  396.57714  0.98929
3         0.06  390.04110  0.98890
4         0.08  385.88269  1.00441
...        ...        ...      ...
83736  1674.72  294.45040  0.97809
83737  1674.74  320.78961  0.98500
83738  1674.76  341.72711  0.99147
83739  1674.78  357.74743  0.97596
83740  1674.80  371.02719  0.98266

[83741 rows x 3 columns]

In [8]:
lag_win = 60 #ラグ特徴量のウィンドウ幅
df_lag = pd.DataFrame()
for i in range(1, lag_win):
    df_lag['x_lag{}'.format(i)] = data['PPG'].shift(i)
df_lag
train_df = pd.concat([data['PPG'], df_lag], axis=1)
train_df.dropna(inplace=True)
train_df.reset_index(inplace=True)
train_df

,index,PPG,x_lag1,x_lag2,x_lag3,x_lag4,x_lag5,x_lag6,x_lag7,x_lag8,...,x_lag50,x_lag51,x_lag52,x_lag53,x_lag54,x_lag55,x_lag56,x_lag57,x_lag58,x_lag59
0,59,387.70257,390.50860,393.87161,399.45916,407.39981,414.72430,417.51574,412.21743,398.25299,...,377.31353,383.38201,385.67578,385.30865,384.74890,385.88269,390.04110,396.57714,403.55255,409.93594
1,60,384.83148,387.70257,390.50860,393.87161,399.45916,407.39981,414.72430,417.51574,412.21743,...,369.47161,377.31353,383.38201,385.67578,385.30865,384.74890,385.88269,390.04110,396.57714,403.55255
2,61,381.47283,384.83148,387.70257,390.50860,393.87161,399.45916,407.39981,414.72430,417.51574,...,362.44824,369.47161,377.31353,383.38201,385.67578,385.30865,384.74890,385.88269,390.04110,396.57714
3,62,377.81567,381.47283,384.83148,387.70257,390.50860,393.87161,399.45916,407.39981,414.72430,...,357.90829,362.44824,369.47161,377.31353,383.38201,385.67578,385.30865,384.74890,385.88269,390.04110
4,63,374.85910,377.81567,381.47283,384.83148,387.70257,390.50860,393.87161,399.45916,407.39981,...,356.14239,357.90829,362.44824,369.47161,377.31353,383.38201,385.67578,385.30865,384.74890,385.88269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83677,83736,294.45040,258.45458,212.35144,159.92601,101.24893,40.72677,-7.15472,-26.90021,-5.26196,...,391.52981,355.67510,285.17538,210.16264,181.79968,220.79965,292.53649,346.98535,367.95184,370.55661
83678,83737,320.78961,294.45040,258.45458,212.35144,159.92601,101.24893,40.72677,-7.15472,-26.90021,...,395.54376,391.52981,355.67510,285.17538,210.16264,181.79968,220.79965,292.53649,346.98535,367.95184
83679,83738,341.72711,320.78961,294.45040,258.45458,212.35144,159.92601,101.24893,40.72677,-7.15472,...,383.74407,395.54376,391.52981,355.67510,285.17538,210.16264,181.79968,220.79965,292.53649,346.98535
83680,83739,357.74743,341.72711,320.78961,294.45040,258.45458,212.35144,159.92601,101.24893,40.72677,...,370.63702,383.74407,395.54376,391.52981,355.67510,285.17538,210.16264,181.79968,220.79965,292.53649
83681,83740,371.02719,357.74743,341.72711,320.78961,294.45040,258.45458,212.35144,159.92601,101.24893,...,364.08270,370.63702,383.74407,395.54376,391.52981,355.67510,285.17538,210.16264,181.79968,220.79965

In [ ]:
def outlier_2s(df):

    for i in range(len(df.columns)):

        # 列を抽出する
        col = df.iloc[:,i]

        # 平均と標準偏差
        average = np.mean(col)
        sd = np.std(col)

        # 外れ値の基準点
        outlier_min = average - (sd) * 2
        outlier_max = average + (sd) * 2

        # 範囲から外れている値を除く
        col[col < outlier_min] = None
        col[col > outlier_max] = None

    return df

In [ ]:
df2 = outlier_2s(data)
df2

In [ ]:
ppg_mod = df2["PPG"]
plt.plot(ppg_mod)

In [ ]:
df3 = pd.concat([df2, ppg_mod], axis=1)
df3

In [ ]:
df3["PPG"][1]

In [ ]:
ppg = ppg[0:78000]

In [ ]:
plt.plot(ppg)

In [ ]:
def movingAverage(data, num):
    b=np.ones(num)/num
    filtered = np.convolve(data, b, mode='same')#移動平均
    return filtered

In [ ]:
ppg_filt = movingAverage(ppg, 20)[20:-20]
plt.plot(ppg_filt)

In [ ]:
time_series = np.linspace(0, 0.02*len(ppg_filt), len(ppg_filt))
time_series
df_mode = pd.DataFrame(np.stack([time_series, ppg_filt]).T, columns=["Time", "PPG"])
df_mode

In [ ]:
import scipy
sample_freq = 50

#Peak検出
peaks = scipy.signal.find_peaks(ppg_filt)[0]
print(peaks)

#RRI計算
rri_series = np.diff(peaks) * 20
print(rri_series)
print(len(rri_series))
plt.plot(rri_series)